<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About me</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, perspiciatis?</p>
        <p>Accusamus possimus doloribus, voluptate est ex explicabo nulla perferendis. Obcaecati?</p>
        <p>Incidunt pariatur est illum enim odio in quam aperiam omnis?</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>